header {
    text-align: center;
    margin-bottom: 25px;
}

nav a{
    font-size: 18px;
    text-decoration: none;
}

/*Estilos del ejercicio*/

main{
    font-family: "Poppins", sans-serif;
    background-color: #b9d8dd;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #333;
}

.container{
    width: 90%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 3rem;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.input-group {
    margin-bottom: 2rem;
}

.input-group label{
    display: block;
    margin-bottom: 0.5rem;
}

.input-group input {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 50px;
    background-color: #e7e8f7;
    font-size: 1rem;
    color: #333;
}

button {
    width: 100%;
    padding: 0.8rem;
    background-color: #0077ff;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #0055cc;
}

#result{
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    input, button {
        width: 90%;
        font-size: 16px;
    }

    #result {
        font-size: 20px;
    }
}
