header {
    text-align: center;
    margin-bottom: 25px;
}

nav a{
    font-size: 18px;
    text-decoration: none;
}

/*Estilos del ejercicio*/

main {
    font-family: 'Arial',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    background-color: #ffe0e9;
}

.container{
    text-align: center;
    background-color: #ffafd2;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

input, button{
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    outline: none;
}

button{
    background-color: #ff6b95;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color: #ff3c6e;
}

#result {
    font-size: 24px;
    margin-top: 20px;
}


footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    input, button {
        width: 90%;
        font-size: 16px;
    }

    #result {
        font-size: 20px;
    }
}
